@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --color1: #e7ecef;
    --color2: #edafb8;
    --color3: #0077b6;
    --color4: #495057;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
}

a {
    text-decoration: none;
    color: var(--color1);
}

li {
    list-style-type: none;
}
header{
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0, .7);
    color: var(--color1);
    text-align: center;
    padding-bottom: 50px;
    animation: backgournd-image 12s infinite;
}

@keyframes backgournd-image {
    0% {background-image: url(./images/head/pexels-cottonbro-6153367.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    30% {background-image: url(./images/head/pexels-nout-gons-80280-248159.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    65% {background-image: url(./images/head/pexels-pixabay-147411.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    100% {background-image: url(./images/head/pexels-pixabay-247599.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
} 
 
.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    /* background-color: rgba(0,0,0, .3); */

}

.logo {
    font-size: 35px;
    font-weight: 900;
}
.navbar-links, .right-links {
     display: flex;
}

.navbar-links li{
    margin-left: 25px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .4s;
}

.navbar-links li a:hover {
    color: var(--color2);
}


.right-links li{
    margin-left: 25px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .4s;
    cursor: pointer;
}

.right-links li i {
    padding: 15px;
    font-size: 18px;
    border-radius: 50px;
}

.right-links li i:hover {
 transform: scale(1.1);
}

.right-links li a:hover {
    color: var(--color2);
}

header input {
    position: relative;
    width: 35%;
    height: 35px;
    padding: 0px 35px;
    font-weight: 900;
    border: none;
    outline-color: var(--color3); 
    background-color: var(--color1);
    border-radius: 20px; 
}

header input::placeholder {
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
}

header .fa-magnifying-glass {
    position: relative;
    top: 3px;
    right: 35px;
    font-size: 20px;
    opacity: .5;
    color: var(--color4);
    z-index: 2;
    cursor: pointer;
}

.first-main {
    width: 90%;
    height: 300px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    background-color: var(--color1);
    border-radius: 12px;
    box-sizing: border-box;
    overflow: hidden;
    /* box-shadow: 0 0 7px rgba(65, 65, 65, 0.5); */
}

.first-main .text {
    width: 40%;
    text-align: center;
}

.first-main .text h2 {
    font-size: 35px;
    margin-bottom: 35px;
    color: var(--color4);
    transition: ease-in-out .4s;
}

.text h2 span {
   color: var(--color3);
   text-transform: uppercase;
}

.first-main .text button {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--color3);
    color: var(--color4);
    border-radius: 20px;
    font-size: 18px;
    font-weight: 800;
    transition: ease-in-out .4s;
    position: relative;
}

.text button:hover {
    color: var(--color1);
    background-color: var(--color3);
    transform: scale(1.1);
}


 .contenair-image {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenair-img {
    width: 300px;
    height: 300px;
}

.contenair-img img {
    width: 120%;
}

.title-second-main {
    width:80%;
    margin: auto;
    position: relative;
}

.title-second-main h1 {
    font-size: 65px;
    color: var(--color3);
  
}

.title-second-main p{
    font-size: 20px;
    color: var(--color4);
    font-weight: 600;
    letter-spacing: 20px;
    margin-top: -10px;
}

.title-second-main i{
    position: absolute;
    top: 50px;
    right: 25px;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color4);
    font-size: 35px;
    border: 2px solid var(--color3);
    border-radius: 50%;
    transition: all .4s;
}

.title-second-main i:hover{
    color: var(--color1);
    background-color: var(--color3);
    transform: scale(1.1);
}


.second-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 45px 30px;
    gap: 30px;
    box-sizing: border-box;
}

.article {
    width: 22%;
    height: 370px;
    transition: all .4s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.article:hover{
    transform: scale(1.02) translateY(10px);
    box-shadow: 0 7px 12px rgba(0,0,0, .3);
}


.img-article {
    position: relative;
    width: 100%;
    height: 270px;
    background-color: var(--color1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-article img {
    width: 70%;
    height: 70%;
    object-fit: cover; 
    transition: ease-in-out .4s;
}

.img-article img:hover {
  transform: scale(1.1);
}

.img-article .form1{
    width: 30px;
    height: 30px;
    background-color: var(--color3);
    position: absolute;
    bottom: 17px;
    right: 0;
}

.img-article .form2{
    width: 32px;
    height: 32px;
    border-bottom-right-radius: 25px;
    background-color: var(--color1);
    position: absolute;
    bottom: 20px;
    right: 0;
}
.info-article {
    width: 100%;
    height: 120px;
    padding: 15px;
    background-color: var(--color3);
    color: var(--color1);
    border-top-left-radius: 20px;
    position: relative;
    top: -20px;
}

.info-article h3 {
    position: absolute;
    top: 15px;
    right: 30px;
}

.info-article h3 {
    position: absolute;
    top: 15px;
    right: 30px;
}

.info-article p {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    margin: 10px 0px;
}

#stars {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
}

 #stars i {
    color: #fff; 
    transition: all .4s;
}

 #stars i:hover {
    color: var(--color2); 
    transform: scale(1.1);
}




